@charset "utf-8";
@import "header.css";
html {
    font-family: 'Nanum Gothic', 'Malgun Gothic', Roboto, Arial, sans-serif;
    background-color: #252525;
    color: #d5d5d5;
}
#wrap {
    width: 1200px;
    min-width: 480px;
    margin:0 auto;
}
.content1, .content2 {
    height: 400px;
}

.nav-area {
    width: 500px;
    height: 100px;
    padding: 20px;
}
.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}